server:
  port: 8080

spring:
  application:
    name: transfer-service
    
  datasource:
    url: jdbc:h2:mem:transferdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
    
  h2:
    console:
      enabled: true
      path: /h2-console
      
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        
logging:
  level:
    com.npci.transfer: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
